@use "colors";
@import "pianoroll";



.too-fretboard {
  background-color: colors.$bg-color;

  /*
  background: repeating-linear-gradient(
    45deg,
    $grad-stripe-1-col,
    $grad-stripe-1-col 10px,
    $grad-stripe-2-col 10px,
    $grad-stripe-2-col 20px
  );
   */

  border-left: 4px double colors.$markup-color;

  display: flex;
  flex-direction: row;

  font-size: 12px;
  width: fit-content;
}
.too-fret {
  display: flex;
  flex-direction: column;

  &:first-child {
    width: 25px;
    .too-string-wrapper {
      width: 100%;
    }
  }

  border-top: 1px dotted colors.$markup-color;

  .info {
    text-align: center;
    border: 1px dotted colors.$markup-color;
    border-left: none;
    border-right: none;
  }

  border-right: 1px solid colors.$markup-color;
  box-sizing: border-box;
}



.too-string-wrapper {
  position: relative;
  line-height: initial;
  // background-color: rebeccapurple;

  &:nth-child(even) {
    background-color: rgba(125, 125, 125, .2);
  }


  width: 40px;
  // aspect-ratio: 2 / 1;
  height: 20px;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 2px;
    background-color: colors.$markup-color;
    content: '';
    pointer-events: none;
  }

  button {
    width: 100%;
    height: 100%;
    border: none;
  }

  &.active {
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);

      width: colors.$active-ball-dim;
      height: colors.$active-ball-dim;

      background-color: colors.$markup-color;
      border-radius: 50%;

      content: '';
      pointer-events: none;
    }

    button {
      // background-color: royalblue;
    }
  }
  &.is-x {
    &::after {
      // background-color: #00ff2a;

      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -70%);

      width: colors.$active-ball-dim;
      height: colors.$active-ball-dim;

      // background-color: $markup-color;
      // border-radius: 50%;

      content: '\2716';
      text-align: center;
      color: colors.$markup-color;

      pointer-events: none;

    }

  }
}

.too-chord {
  border: 3px double black;
  background-color: rgba(128, 128, 128, .2);
  width: fit-content;
  padding: 4px;
  margin: 1px;
}