@import "pianoroll";

$markup-color: black;
$fret-width: 40px;
$fret-height: 40px;
$active-ball-dim: 12px;

.fretboard {
  background-color: pink;
  border-left: 4px double $markup-color;

  display: flex;
  flex-direction: row;

  font-size: 12px;
  width: fit-content;
}
.fret {
  display: flex;
  flex-direction: column;

  &:first-child {
    width: 25px;
    .too-string-wrapper {
      width: 100%;
    }
  }

  border-top: 1px dotted $markup-color;

  .info {
    text-align: center;
    border: 1px dotted $markup-color;
    border-left: none;
    border-right: none;
  }

  border-right: 1px solid $markup-color;
  box-sizing: border-box;
}



.too-string-wrapper {
  position: relative;
  line-height: initial;
  // background-color: rebeccapurple;

  &:nth-child(even) {
    background-color: rgba(125, 125, 125, .2);
  }


  width: 40px;
  // aspect-ratio: 2 / 1;
  height: 20px;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 2px;
    background-color: $markup-color;
    content: '';
    pointer-events: none;
  }

  button {
    width: 100%;
    height: 100%;
    border: none;
  }

  &.active {
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);

      width: $active-ball-dim;
      height: $active-ball-dim;

      background-color: $markup-color;
      border-radius: 50%;

      content: '';
      pointer-events: none;
    }

    button {
      // background-color: royalblue;
    }
  }
  &.is-x {
    &::after {
      // background-color: #00ff2a;

      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -70%);

      width: $active-ball-dim;
      height: $active-ball-dim;

      // background-color: $markup-color;
      // border-radius: 50%;

      content: '\2716';
      text-align: center;
      color: $markup-color;

      pointer-events: none;

    }

  }
}