.piano-roll {
  background-color: plum;

  display: flex;
  flex-direction: row;

  &--beat {
    display: flex;
    flex-direction: column-reverse;
  }

  &--line {
    width: 40px;
    border-right: 1px dotted black;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      height: 90%;
      width: 90%;

      text-align: center;
      font-family: monospace;
      font-size: 12px;
      width: 24px;

      background-color: rgba(255, 255, 255, .2);

      &:focus {
        appearance: none;
        -webkit-appearance: none;

        // border: none !important;
        // border-width: 0;
        background-color: #00ff2a;
      }
      &:active {
        appearance: none;
        -webkit-appearance: none;

        // border: none !important;
        // border-width: 0;
        background-color: yellow;
      }

    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    {
      -webkit-appearance: none;
      margin: 0;
    }

  }
}